<ion-view class="exerciseLibrary">
	<ion-nav-bar class="group">
		<ion-nav-buttons side="left">
			<span class="icon ion-ios-arrow-back" ng-click="back()"></span>
			<div class="title title-center header-item" style="z-index: -200" ng-click="gotoHome()">{{patientName}}</div>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<span menu-toggle="right" class="icon ion-ios-plus-outline" ng-click="addss()"></span>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>

		<div class="sortedBy text-center">
			<!--<select ng-options="item.id as item.title for item in sortedByList" ng-model="sortedBy" ng-change="gotoAction(sortedBy)"></select> -->
			<!--temp code-->
			<input type="button" class="itemdropdown" ng-click="showList();" value="{{title}}" />
			<ion-list ng-show="subNavList" class="ddlistitems">
				<ion-item ng-repeat="item in sortedByList" ng-click="gotoAction(item.id)">
					<h2>{{item.title}}</h2>
				</ion-item>
			</ion-list>

			<!--temp code-->
		</div>

		<div class="search">
			<input type="text" placeholder="Search" ng-model="searchExercise" />
			<span class="icon ion-ios-search-strong pull-right"></span>
		</div>
		<p class="text-center" 
   sylte="margin-top: 10px;"><small >Sorted By:</small></p>
   <!-- sorting value-->
		<div class="sortedBy text-center">
            
            <input type="button" class="itemdropdown" ng-click="showListSortList();" value="{{sortedBy}}" />
            <ion-list ng-show="sortList" class="ddlistitems">
                <ion-item ng-repeat="item in exerciseSortedByList" ng-model="sortedBy" ng-click="sortPatients(item.id,item.title)">
                    <h2>{{item.title}}</h2>
                </ion-item>
            </ion-list>
        </div>
		<ul class="exerciseList">
			<li ng-repeat="item in exerciseList  | filter: searchExercise" class="gieafitListItem group">
				<div style="width:92%; float:left" ui-sref="setExerciseProgram(
       {
peid: item.peid,
title: item.title,
comments: item.comments,
code: item.code,
reps: item.reps,
sets: item.sets,
rest: item.rest,
daily:item.daily,
today: item.today,
alldays:item.alldays,
weekly: {
sun: item.weekly.sun,
mon: item.weekly.mon,
tue: item.weekly.tue,
wed: item.weekly.wed,
thu: item.weekly.thu,
fri: item.weekly.fri,
sat: item.weekly.sat,
},
mp4: item.mp4,
webm: item.webm,
mov: item.mov,
thumb1: item.thumb1,
thumb2: item.thumb2
}

        )">

			<span class="marginR5" style="width:10%">{{$index+1}}.</span>
			<span style="width:45%; max-width:45%;">{{item.title}}</span>
			<span style="width:40%; text-align:center">{{days(item.weekly)}}</span>
			</div>
			
				<span class="pull-right trash-icon" ng-click="delete(item.peid,$index)">
					
						<i class="icon ion-ios-trash-outline" ></i>
						<!-- <i class="icon ion-ios-close-outline"></i> -->
				</span>
			</li>
		</ul>

	</ion-content>
</ion-view>
